.parent-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;

  .main-content {
    padding: 27px;

    .flex {
      display: flex;
      justify-content: space-between;
      color: white;
      padding: 18px;

      i {
        font-size: 50px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

.card-header {
  background-color: inherit;
  border: 0;
  padding: 0;

  h5 {
    color: #505458;
    font-size: 14px;
    font-weight: 600;
  }
}
.card {
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  .card-block {
    padding-top: 25px;
    p {
      font-size: 13px;
      line-height: 32px;

      i {
        padding-right: 12px;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-one {
    background: linear-gradient(to right, #fe9365, #feb798);
  }
  .card-two {
    background: linear-gradient(to right, #0ac282, #0df3a3);
  }
  .card-three {
    background: linear-gradient(to right, #fe5d70, #fe909d);
  }
  .card-four {
    background: linear-gradient(to right, #01a9ac, #01dbdf);
  }

  .body-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    p {
      color: #919aa3 !important;
      font-size: 13px;
    }

    .content-wrapper {
      display: flex;
      align-items: baseline;
      gap: 12px;
    }
  }
  .circle-1 {
    background-color: #01a9ac;
  }
  .circle-2 {
    background-color: #fe5d70;
  }
  .circle-3 {
    background-color: #0ac282;
  }
  .circle-4 {
    background-color: #fe5d70;
  }
  .circle-5 {
    background-color: #0ac282;
  }
  h6 {
    font-size: 14px;
  }
  .c6-p {
    color: #919aa3 !important;
  }

  .card-header {
    span {
      font-size: 13px;
      color: #919aa3;
    }
  }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  i {
    color: white;
  }
}
