<div class="row m-0">
  <div class="col-md-12">
    <h5>About Me</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table m-0">
        <tbody>
          <tr>
            <th scope="row">Full Name</th>
            <td>Muhamamd Abdullah</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>Male</td>
          </tr>
          <tr>
            <th scope="row">Birth Date</th>
            <td>August 5th, 2000</td>
          </tr>
          <tr>
            <th scope="row">Marital Status</th>
            <td>Single</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
            <td>Lahore, Pakistan</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Email</th>
            <td><a href="#!">abdullah@gmail.com</a></td>
          </tr>
          <tr>
            <th scope="row">Mobile Number</th>
            <td>(+92)-20987671</td>
          </tr>
          <tr>
            <th scope="row">Twitter</th>
            <td>@abdullah</td>
          </tr>
          <tr>
            <th scope="row">Skype</th>
            <td>abdullah10</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Developer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h5 class="p-0 pt-3 pb-4">Description About Me</h5>
      <p class="fs-6">
        I am Abdullah, a computer science graduate who successfully navigated
        the academic landscape at the National University of Sciences and
        Technology (NUST). My journey into the world of programming began with a
        fascination for the inner workings of the web, and over time, I've
        evolved into a passionate front-end developer. Armed with a degree in
        computer science, I have honed my skills and translated theoretical
        knowledge into practical, real-world applications. As a front-end
        developer, I take pride in crafting seamless and visually appealing
        digital experiences. Proficient in HTML, CSS, and JavaScript, I go
        beyond the basics, exploring various front-end frameworks and tools to
        bring my creative ideas to life. Coding, for me, is not just a technical
        skill but a medium for expressing creativity and transforming concepts
        into interactive realities. Always eager to embrace challenges, I stay
        updated on the latest technologies and design trends in the dynamic
        field of web development. Beyond my academic achievements, I actively
        engage in hackathons and contribute to open-source projects,
        continuously pushing my boundaries and collaborating with like-minded
        individuals. In my free time, I explore new technologies, experimenting
        with innovative solutions and seeking opportunities to make a positive
        impact in the tech industry. I am not just a computer science graduate;
        I am a forward-thinking individual with a passion for leveraging
        technology to create meaningful and user-centric digital experiences. My
        journey extends beyond the classroom, marked by a commitment to
        continuous learning, innovation, and contributing to the exciting future
        of front-end development.
      </p>
    </div>
  </div>
</div>
