<div class="container">
  <div class="flex">
    <div class="login-container">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">*Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <p
            *ngIf="
              loginForm.get('email').hasError('required') &&
              loginForm.get('email').touched
            "
            style="color: red; font-size: 12px; margin-top: 4px"
          >
            Email Required
          </p>
          <p
            *ngIf="
              loginForm.get('email').hasError('email') &&
              loginForm.get('email').touched
            "
            style="color: red; font-size: 12px; margin-top: 4px"
          >
            Enter Valid Email
          </p>
        </div>

        <div class="form-group">
          <label for="password">*Password:</label>
          <input
            class="form-control"
            type="password"
            id="password"
            formControlName="password"
          />
          <p
            *ngIf="
              loginForm.get('password').hasError('required') &&
              loginForm.get('password').touched
            "
            style="color: red; font-size: 12px; margin-top: 4px"
          >
            Password Required
          </p>
          <div *ngIf="invalidCredentials" style="color: red">
            <p>{{ errorMessage }}</p>
          </div>
          <p class="f-password"><a href="">Forgot Password?</a></p>
        </div>
        <button type="submit">Login</button>
        <div class="links">
          <p>Don't Have An Account?</p>
          <span class="separator">|</span>
          <a routerLink="/signup">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>
